{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}
{% block body %}

 {% include 'shared/navbar.html.twig'%}
    <div class="container">
        <div class="example-wrapper">

            <h4 class="h3 mb-3 mt-3 font-weight-normal">Demo login and registration form application with Symfony 6</h4>

        </div>
    </div>
{% endblock %}
