{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    {% include 'shared/navbar.html.twig' %}
    <div class="container">
        <div class="example-wrapper">
            <h4 class="h3 mb-3 mt-3 font-weight-normal">Admin dashboard</h4>
            <p>If you can see this page, it means that you are fully authenticated</p>
        </div>
    </div>
{% endblock %}
